//
// Edit bar
// --------------------------------------------------

#edit-bar {
    border-bottom: 1px solid #ddd; // Give the tabs something to sit on
    margin-left: 0;
    margin-bottom: @baseLineHeight;
    .clearfix();

    .contentViews,
    #contentActionMenus {
        list-style: none;
        margin-bottom: 0;

        > li {
            float: left;
            margin-bottom: -1px; // Make the list-items overlay the bottom border

            a {
                display: block;
                padding-right: 12px;
                padding-left: 12px;
                padding-top: 8px;
                padding-bottom: 8px;
                line-height: @baseLineHeight;
                border: 1px solid transparent;
                .border-radius(4px 4px 0 0);

                margin-right: 2px;

                &:hover,
                &:focus {
                    text-decoration: none;
                    background-color: @grayLighter;
                    border-color: @grayLighter @grayLighter #ddd;
                }
                > img {
                    max-width: none; // Prevent IE8 from misplacing imgs
                }
            }
        }
        .selected {
            a, a:hover, a:focus {
                color: @gray;
                background-color: @bodyBackground;
                border: 1px solid #ddd;
                border-bottom-color: transparent;
                cursor: default;
            }
        }
    }
    #contentActionMenus > li {
        float: right;
    }
}

.actionMenu {
    white-space: nowrap;
    position: relative;
    margin-bottom: 0;

    a, div {
        display: block !important;
        text-decoration: none;
        white-space: nowrap;
    }
    dt {
        font-weight: normal;
    }
    &.deactivated dd {
        display: none;
    }
    &.activated {
        dd {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: @zindexDropdown;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0; // override default ul
            background-color: @dropdownBackground;
            border: 1px solid #ccc; // Fallback for IE7-8
            border: 1px solid @dropdownBorder;
            *border-right-width: 2px;
            *border-bottom-width: 2px;
            .border-radius(6px);
            .box-shadow(0 5px 10px rgba(0,0,0,.2));
            -webkit-background-clip: padding-box;
               -moz-background-clip: padding;
                    background-clip: padding-box;

            ul {
                list-style: none;
                margin-left: 0;

                #folderDefaultPageDisplay {
                    padding: 0 12px;
                }
                a {
                    margin-right: 0 !important;
                }
            }
        }
        &#plone-contentmenu-workflow dd {
            right: 0;
            left: auto;
        }
    }
}



// .actionSeparator {
//     #folderHeader,
//     #contextHeader {
//         .subMenuTitle{
//             color: @EditBar-subMenuTitle-color;
//         }
//     }
// }


// #content {
//     ul.formTabs {
//         background-color: @FormTab-background;
//         border: @FormTab-border;
//         display: block;
//         border-style: solid solid none solid;
//         margin-left: 0;
//         .border-top-radius(0.5em);
//     }
//     li.formTab {
//         display: inline;
//         margin-right:0.25em;

//         a {
//             /* this isn't supported by all browsers, so we keep it in a separate rule */
//             display: inline-block;
//             line-height: @FormTab-link-line-height;
//             padding: @FormTab-link-padding;
//             text-decoration: none;
//             border: none;
//             margin: 0 ;

//             &.selected {
//                 font-weight: @FormTab-link-selected-font-weight;
//                 background: @FormTab-link-selected-background;
//                 color: @FormTab-link-selected-color;
//                 .border-top-radius(0.5em);
//             }
//             &:hover {
//                 background: @FormTab-link-hover-background;
//                 color: @FormTab-link-hover-color;
//                 .border-top-radius(0.5em);
//             }
//             &.notify {
//                 background-color: @FormTab-link-notify-background;
//                 color: @FormTab-link-notify-color;
//             }
//             &.required span:after {
//                 content: "■";
//                 color: Red;
//                 padding-left: 0.2em;
//             }
//         }
//     }
//     fieldset.formPanel {
//         border: none;

//         &.hidden {
//             display: none;
//         }
//     }
//     div.formControls input.hidden {
//         display: none;
//     }
// }

// #content-views {
//     float: left;
//     background-color: @EditBar-background;

//     a {
//         /* this isn't supported by all browsers, so we keep it in a separate rule */
//         display: inline-block;
//         color: @EditBar-color;
//         line-height: @EditBar-line-height;
//         padding: 0 0.75em;
//         text-decoration: none;
//         border: none;
//         margin: 0 ;
//     }
//     li.selected a {
//         font-weight: @EditBar-selected-font-weight;
//         background: @EditBar-selected-background;
//         color: @EditBar-selected-color;
//         .border-top-radius(0.5em);
//     }
//     li a:hover {
//         background: @EditBar-hover-background;
//         color: @EditBar-hover-color;
//         .border-top-radius(0.5em);
//     }
// }


// Workflow Pull-down menu state indicators
// -----------------------------------------------------

#plone-contentmenu-workflow {
    .state-private {
        padding: 0 0.5em;
        background-color: @workflow-state-private;
        border: 0.1em solid @workflow-state-private;
        color: @workflow-state-private-color !important;
        .border-radius(0.5em);
    }
    .state-visible {
        padding: 0 0.5em;
        background-color: @workflow-state-visible;
        border: 0.1em solid @workflow-state-visible;
        color: @workflow-state-visible-color !important;
        .border-radius(0.5em);
    }
    .state-published {
        padding: 0 0.5em;
        background-color: @workflow-state-published;
        border: 0.1em solid @workflow-state-published;
        color: @workflow-state-published-color !important;
        .border-radius(0.5em);
    }
    .state-pending {
        padding: 0 0.5em;
        background-color: @workflow-state-pending;
        border: 0.1em solid @workflow-state-pending;
        color: @workflow-state-pending-color !important;
        .border-radius(0.5em);
    }
}
