//
// Header styles
// --------------------------------------------------


// LOGO
// --------------------------

#portal-logo {
    display: inline-block;
    margin: @portal-logo-margin;
}

// Personaltools
// --------------------------

#portal-personaltools {
    position: absolute;
    z-index: 3; /* personaltools should be above #portal-header (with z-index: 2) */
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    margin: 0;
    list-style: none;
    border: 1px solid @navbarBorder;
    .border-bottom-radius(0.5em);
    #gradient > .vertical(@navbarBackground, @navbarBackgroundHighlight);
    .box-shadow(0 1px 4px rgba(0,0,0,.065));

    .actionMenuHeader a {
        font-size: @fontSizeSmall;
    }
    .actionMenuContent a {
        display: block;
        padding: 8px 12px;
        line-height: @baseLineHeight;
        border: 1px solid transparent;
        .border-radius(4px 4px 0 0);

        &:hover {
            text-decoration: none;
            background-color: @grayLighter;
            border-color: @grayLighter @grayLighter #ddd;
        }
    }
    a {
        color: @gray;
    }
    dt {
        font-weight: normal;

        &.actionMenuHeader a:after {
            content: " ▼";
        }
    }
    dd {
        right: 0;
        left: auto;
    }
}




// Search and links
// --------------------------

#search-and-links {
    position: absolute;
    top: 62px;
    right: 30px;

    #quicklinks, #languages {
        font-size: @fontSizeMini;
        margin: 5px 0;

        li {
            white-space: nowrap;
        }
    }
    #languages li {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    #portal-searchbox {
        text-align: left;

        form {
            white-space: nowrap;
        }
    }
}
