//
// Header styles
// --------------------------------------------------


// LOGO
// --------------------------

#portal-logo {
    display: inline-block;
    margin: @portal-logo-margin;

    img {
        width: 100%;
    }
}

// Personaltools
// --------------------------

#portal-personaltools {
    float: right;
    padding: 0.25em 0.5em;
    margin: 0;
    border: 1px solid @navbarBorder;

    .border-bottom-radius(0.5em);
    #gradient > .vertical(@navbarBackground, @navbarBackgroundHighlight);
    .box-shadow(0 1px 4px rgba(0,0,0,.065));

    #user-name,
    #personaltools-login {
        color: @gray;
        font-size: @fontSizeSmall;
        text-decoration: none;
    }
    #user-name:after {
        content: " ▼";
    }
}




// Search and links
// --------------------------

#search-and-links {
    position: absolute;
    top: @searchAndLinksTop;
    right: 30px;

    #quicklinks, #languages {
        font-size: @fontSizeMini;
        margin: 5px 0;

        li {
            white-space: nowrap;
        }
    }
    #languages li {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    #portal-searchbox {
        text-align: left;

        form {
            white-space: nowrap;
        }
    }
}
