//
// Header styles
// --------------------------------------------------


// LOGO
// --------------------------

#portal-logo {
    display: inline-block;
    margin: @portal-logo-margin;

    img {
        height: auto;
        width: 100%;
    }
}
.ie7 {
    #portal-logo img {
        width: auto;
    }
}


// Personaltools
// --------------------------

#portal-personaltools {
    background: @Personaltools-background;
    position: absolute;
    z-index: 3; /* personaltools should be above #portal-header (with z-index: 2) */
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    margin: @Personaltools-margin;
    .border-bottom-radius(0.5em);

    a, a:link, a:hover, a:active, a:visited {
        color: @Personaltools-link-color!important;
    }
    dt {
        font-weight: normal;

        &.actionMenuHeader a:after {
            content: " ▼";
        }
    }
    dd {
        right: 0;
        padding-top: 0.5em;
        background: @Personaltools-background;
        padding-bottom: 0.5em;

        a {
            line-height: @Personaltools-line-height;
            padding: 0 0.75em;

            &:hover {
                background: @Personaltools-hover-background;
                color: @Personaltools-hover-color;
            }
        }
    }

    #anon-personalbar a {
        float: left;
        margin-right: 0.5em;
    }
}




// Search and links
// --------------------------

#search-and-links {
    position: absolute;
    top: 50px;
    right: 30px;

    #quicklinks, #languages {
        font-size: @fontSizeMini;
        margin: 5px 0;

        li {
            white-space: nowrap;
        }
    }
    #languages li {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    #portal-searchbox {
        text-align: left;

        form {
            white-space: nowrap;
        }
        .searchField {
            margin-bottom: 0;
        }
    }
}
