#portal-globalnav {
    font: @menu-font;
    background: @menu-background;
    border-top: @menu-border-top;
    border-bottom: @menu-border-bottom;
    margin: @menu-margin;
    padding:0;
    clear: both;

    li {
        a {
            display: inline-block;

            background: @menu-item-background;

            border-top: @menu-item-border-top;
            border-bottom: @menu-item-border-bottom;
            border-left: @menu-item-border-left;
            border-right: @menu-item-border-right;

            color: @menu-item-color;
            font-weight: @menu-item-font-weight;

            padding: @menu-item-padding;

            min-width: @menu-item-min-width;

            text-decoration:none;

            &:hover {
                background: @menu-item-hover-background;
                color: @menu-item-hover-font-color;
            }
        }
    }
    .selected a {
        background: @menu-item-selected-background;
        color: @menu-item-selected-font-color;

        &:hover {
            background: @menu-item-selected-hover-background;
            color: @menu-item-selected-hover-font-color;
        }
    }
}
