//
// Portlets
// --------------------------

.portlet {
    margin-top: 0;
    margin-bottom: @baseLineHeight + 10px;

    a:hover {
        text-decoration: none;
    }
    a .portletItemDetails {
        color: @grayLight;
        font-size: @fontSizeSmall;
    }
    .portletHeader {
        font-family: @headingsFontFamily;
    }
    .portletItem {
        margin: 5px 0;
    }
    .portletFooter {
        margin-left: 0;
        text-align: center;
        font-size: @fontSizeSmall;
    }
}


// Navigation portlet
// --------------------------------
.portletNavigationTree {
    .portletHeader {
        display: block;
        padding: 3px 15px;
        font-size: 11px;
        font-weight: bold;
        line-height: @baseLineHeight;
        color: @grayLight;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        text-transform: uppercase;
    }
    .portletItem {
        a {
            color: @portletNavigationColor;
        }
        .navTreeLevel0 {
            margin-left: 0;
            list-style: none;

            > li {
                margin-bottom: -1px;
                border: 1px solid #ddd;

                &:hover {
                    background-color: @portletNavigationHoverBackground;
                    border-color: @portletNavigationHoverBorder;
                    z-index: 2;

                    a {
                        color: @portletNavigationHoverColor;
                    }
                }
                &:first-child {
                    .border-top-radius(4px);
                }
                &:last-child {
                    .border-bottom-radius(4px);
                }

                > a,
                > div > a {
                    display: block;
                    padding: 8px 12px;
                    line-height: @baseLineHeight;

                    &.navTreeCurrentItem {
                        background-color: @portletNavigationCurrentBackground;
                        border-color: @portletNavigationCurrentBorder;
                        cursor: default;
                    }
                }
            }
            > img {
                max-width: none;
            }

            .navTree {
                > li {
                    position: relative;

                    &:before {
                        content:"-";
                        left: -10px;
                        position: absolute;
                    }
                    &:last-child {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .navTreeCurrentItem {
            color: @portletNavigationCurrentColor;
        }
        .navTreeItem > a > img {
            display: none;
        }
    }
}


// Calendar portlet
// --------------------------------
.portletCalendar {
    padding: 10px 15px;
    border: 1px solid #ddd;
    .border-radius(@baseBorderRadius);
    text-align: center;

    .portletHeader {
        font-size: @fontSizeLarge;
        margin-bottom: 15px;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }
    .ploneCalendar {
        width: 100%;
    }
    .calendarPrev {
        float: left;
        margin-left: 5px;
    }
    .calendarNext {
        float: right;
        margin-right: 5px;
    }
    .weekdays {
        font-size: @fontSizeSmall;
    }
    .event, .todayevent {
        background-color: @grayLighter;
    }
}


// Dashboard portlets
// --------------------------------
#dashboard-portlets1,
#dashboard-portlets2,
#dashboard-portlets3,
#dashboard-portlets4 {
    display: block;
    float: left;
    .grid-column-width(4);
    margin: 0 @grid-column-gutter;
}
#dashboard-portlets1 {
    margin-left: 0;
}
#dashboard-portlets4 {
    margin-right: 0;
}


// Manage portlets
// --------------------------------
.portlets-manager {
    .portletAssignments {
        border: 1px solid #ddd;
        padding: 5px 15px;
        margin: 10px 0;
        .border-radius(@baseBorderRadius);

        h4 {
            margin: 5px 0;
        }
        .formControls {
            text-align: center;
        }
    }
}
.portletAssignments {
    .portletHeader {
        padding: 0.42em 1em;
        background: @grayLighter;
    }

    .managedPortlet {
        margin: 10px 0;
    }

    .managedPortletActions {
        float: right;

        a {
            margin: 0 0.25em;
            border: none;
            text-decoration: none;
        }
    }
}
.blockedPortlet {
    .portletHeader {
        background: @containerBackground;
        border: 1px dashed #ddd;
        margin: -1px;

        a {
            color: @grayLight;
        }
    }
}
.managePortletsLink a,
.managePortletsFallback {
    display: block;
    border-top: 1px solid #ddd;
    color: @grayLight;
    font-size: @fontSizeSmall;
    text-align: center;
    padding: 5px;
}
.portlet-action {
    float: left;
    margin-bottom: 0;
}
.managedPortlet {
    button {
        background: transparent;
        border: 0;
        font-size: @fontSizeMini;
        padding: 2px 5px;
        line-height: 15px;
    }
}
