//
// Portlets
// --------------------------

.portlet {
    margin-top: 0;
    margin-bottom: @baseLineHeight;

    a:hover {
        text-decoration: none;
    }
}

// Navigation portlet
.portletNavigationTree {
    .portletHeader {
        display: block;
        padding: 3px 15px;
        font-size: 11px;
        font-weight: bold;
        line-height: @baseLineHeight;
        color: @grayLight;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        text-transform: uppercase;
    }
    .portletItem {
        .navTreeLevel0 {
            margin-left: 0;
            list-style: none;

            > li {
                margin-bottom: -1px;
                border: 1px solid #ddd;

                &:hover {
                    background-color: @grayLighter;
                    border-color: #ddd;
                    z-index: 2;
                }
                &:first-child {
                    .border-top-radius(4px);
                }
                &:last-child {
                    .border-bottom-radius(4px);
                }

                > a,
                > div > a {
                    display: block;
                    padding: 8px 12px;
                    line-height: @baseLineHeight;

                    &.navTreeCurrentItem {
                        background-color: @grayLighter;
                        border-color: #ddd;
                        cursor: default;
                    }
                }
            }
            > img {
                max-width: none;
            }

            .navTree {
                > li {
                    position: relative;

                    &:before {
                        content:"-";
                        left: -10px;
                        position: absolute;
                    }
                    &:last-child {
                        margin-bottom: 10px;
                    }
                }

                .navTreeCurrentItem {
                    color: @gray;
                }
            }

        }
    }
}
