//
// Typography - Plone specific
// --------------------------------------------------

.discreet,
.formHelp {
    color: @grayLight;
    font-size: @fontSizeSmall;
}

.documentByLine {
    color: @grayLight;
    font-size: @fontSizeSmall;
}

.documentDescription {
    margin-bottom: @baseLineHeight;
    font-size: @fontSizeLarge;
    font-weight: 200;
    line-height: @baseLineHeight * 1.5;
}

#viewlet-below-content-title {
    .transition(~"opacity .2s linear .2s");
    opacity: 0;

    &:hover {
        .transition(~"opacity .2s linear .2s");
        opacity: 1;
    }
}
